body {
	margin: 20px;
	background-color: black;
	color: white;
	font-family: Raleway;
}
#cuerpo{
  margin: 50px;
}

#cabecera{
  background-color: #5b7989;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

.titulo h1{
  color: white;
  text-shadow: 2px 2px #02010a;
}

.menu_horizontal{
 float: right;
 margin-right: 20px;
}

.titulo {
  float: left;
  margin-left: 20px;
}

.menu li{
  display: block;
  padding: 10px 10px;
  float: left;
}

.menu li a{
  color: white;
  text-decoration: none;
}

.limpiar{
  clear: both;
}

#imagen_central{
  background-color: #82c3a6;
  text-align: center;
}

#imagen_central img{
  width: 50%;
  height: 50%;

}
