body {
	margin: 0px;
	background-color: #02010a;
	color: white;
	font-family: Dancing Script;
}

@media (max-width:900px) {


}

#contenido{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 0%;

}

#contenido img{
  -webkit-box-shadow: 2px 2px 2px #02010a;
  -moz-box-shadow: 2px 2px 2px #02010a;
  filter: shadow(color=#02010a, direction=135, strength=2);
}

#cabecera{
  background-color: #5b7989;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.titulo h1{
  color: white;
  text-shadow: 2px 2px #02010a;
}

.menu_horizontal{
 float: right;
 margin-right: 20px;
}

.titulo {
  float: left;
  margin-left: 20px;
}

.menu li{
  display: block;
  padding: 10px 10px;
  float: left;
}

.menu li a{
  color: white;
  text-decoration: none;
}


.limpiar{
  clear: both;
}

#imagen_central{
  background-color: #82c3a6;
  text-align: center;
}

#imagen_central img{
  max-width: 60%;
  margin: 2%;
}
